extends layout

block content
	div.wrapper.fool
		- const knightDog = "sir " + futureDog
		p.hello Hello! My name is 
			strong #{name}
		p.dawg
			|my dog is named #{futureDog}
		span#yo take a look at out my pooch! 👉 
		img.sweet-pooch(src="/images/photos/dog-placeholder.jpg" alt=`picture of my sweet pooch ${knightDog}`)

	h3 
		| hey! 
		strong how'goin?
